# Node.js
node_modules/
npm-debug.log*
*.tsbuildinfo

# Next.js
.next/
out/
.vercel/

# OS + Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Env + Logs
.env*
*.log

# Misc
*.sqlite
*.zip
*.tgz
*.node

# Do not commit uploaded files
public/uploads/*
!public/uploads/.gitkeep
