/* client/app/dashboard/DashboardLayout.module.css */

.layoutContainer {
  display: flex;
  height: calc(100vh - 73px); /* Full viewport height minus the header height */
}

.mainContent {
  flex: 1; /* This makes the main content take up all the remaining space */
  padding: 2rem;
  overflow-y: auto; /* Add a scrollbar if content is too long */
}