/* client/app/login/LoginPage.module.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #f7fafc;
}

.form {
  padding: 2rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  width: 100%;
  max-width: 400px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
}

.inputGroup {
  margin-bottom: 1rem;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #4a5568;
}

.input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
}

.button {
  width: 100%;
  padding: 0.75rem;
  border-radius: 4px;
  background-color: #4299e1;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #3182ce;
}